<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.opensixen.spain.acct.GlobalFacctModelValidator"
         point="org.opensixen.osgi.interfaces.IModelValidator">
      <validator
            class="org.opensixen.spain.acct.GlobalFacctModelValidator">
      </validator>
   </extension>
   <extension
         point="org.opensixen.osgi.interfaces.IClientSetupValidator">
      <validator
            class="org.opensixen.spain.acct.ClientSetupValidator">
      </validator>
   </extension>
   <extension
         id="org.opensixen.spain.acct.AllocationModelValidator"
         point="org.opensixen.osgi.interfaces.IModelValidator">
      <validator
            class="org.opensixen.spain.acct.AllocationModelValidator">
      </validator>
   </extension>
   <extension
         id="org.opensixen.spain.acct.ClientSetupValidator"
         name="clientSetup"
         point="org.opensixen.osgi.interfaces.ICommand">
      <command
            class="org.opensixen.spain.acct.ClientSetupValidator"
            name="clientSetup">
      </command>
   </extension>

</plugin>
